

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root {
  --global-background-grandient-color : linear-gradient(to right, #d4c968 0%, rgba(212, 201, 104, 0.9) 36%, rgba(212, 201, 104, 0.55) 50%, rgba(255, 255, 255, 0) 100%);
  --global-green-color : #d4ca68;
  --global-dark-color : #000000;
  --global-white-color : #ffffff;
  --global-text-gray-color: rgba(0, 0, 0, 0.2);
  --global-text-para-color : #666666;
  --global-font-family : "Roboto", sans-serif;
  --global-transaction : all 0.3s linear 0s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--global-font-family);
  overflow-x: hidden;
}





/* start nav bar */
header {
  position: static;
  background-color: var(--global-white-color);
}
header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
#mynav .nav-item .nav-link {
  color: var(--global-dark-color);
  font-size: 15px;
}
#mynav .nav-item .nav-link.active {
  color: var(--global-green-color);
}

/* end nav bar */

/* start global btn */
.global_btn {
  display: inline;
  padding: 20px;
  color: var(--global-white-color);
  background-color: var(--global-green-color);
  border-radius: 3px;
}

/* end global btn */

/* start banner section */
.banner_container {
  padding: 300px 0px;
  background-image: url('../public/assets/imgs/banners/bg_2.jpg.webp');
  position: relative;
}

.banner_container::before {
  content: "";
  width: 50%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.7;
}

.banner_container::after{
  content: "";
  width: 100%;
  height: 60%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 75%);

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
}
.navigator_btn {
  width: 70px;
  height: 70px;
  border: none;
  background-color: var(--global-green-color);
  color: var(--global-white-color);
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 2;
}
.navigator_btn span{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: banner_ani 2s linear 0s infinite forwards;
}
@keyframes banner_ani {
  0% {
    top: 0;
    opacity: 1;
  }
  100%{
    top: 70%;
    opacity: 0;
  }
}
/* end banenr seciton */

/* start search group */
.search_group form label {
  margin-bottom: 10px;
  font-size: 18px;
}
.search_group form input::placeholder, .search_group form select::placeholder {
  color: var(--global-text-para-color);
}
/* end search group */

/* start global title */
.globa_title_container span {
  color: var(--global-green-color);
  font-size: 14px;
  position: relative;
  letter-spacing: 1px;
}
.globa_title_container span::before,.globa_title_container span::after  {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--global-green-color);
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

}
.globa_title_container span::before {
  left: -60px;
}
.globa_title_container span::after {
  right: -60px;

}
/* end global title */

.offer_img {
  /* background-image: url('./assets/imgs/gallery/work-1.jpg.webp'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.offer_item_img_container {
  position: relative;
  overflow: hidden;
}

.owner_data {
  position: absolute;
  left: 10px;
  bottom: 10px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.2s linear 0s;
}

.offer_items_container:hover .owner_data {
  transform: translateY(0);
  opacity: 1;
}

/* -------------- */
.why_choose_use_main_container {
  position: relative;
}
.why_choose_use_main_container::after {
  content: "";
  width: 73%;
  height: 100%;
  background-color: var(--global-green-color);

  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;

  opacity: 0.3;
  
}

.choose_list_item span {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: var(--global-green-color);
}

.counter{
  color: var(--global-green-color);
  font-size: 50px;
  font-weight: 300;
}
.counter_caption {
  font-size: 20px;
  text-wrap: wrap;
}
.counter_main_container {
  position: relative;
}
.counter_main_container::before{
  content: "";
  width: 27%;
  height: 100%;
  background-color: var(--global-green-color);
  opacity: 0.3;
  
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.properties_item_container {
  position: relative;
}

.properties_captions_group {
  width: 100%;
  height: 100%;
  
  position: absolute;
  left: 0;
  top: 0;
}

.properties_see_all {
  color: var(--global-white-color);
  text-decoration: none;
}

.properties_see_all:hover {
  text-decoration: underline;
}